---
layout: default
title: Systems Live
---


<h1>Systems Live</h1>

<div class="description">
	Systems Live is a podcast recorded live every Friday at 2pm CST hosted by Timothy Fitz (<a href="http://twitter.com/timothyfitz">@timothyfitz</a>) and Jeff Lindsay (<a href="http://twitter.com/progrium">@progrium</a>). Every week a different topic is covered.
</div>

{% for post in site.posts %}
  <div class="post {% if forloop.first %}first{% endif %}">
    <h2 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    <span class="description">
    	{{ post.content }}
    </span>
  </div>
{% endfor %}
