---
layout: default
title: Systems Live
---


<h1>Systems Live</h1>

<div class="description">
	<img class="bigimg" src="/images/itunes.jpg">

	<div class="clearfix">
	Systems Live is a podcast and live broadcast every Friday at 2pm CST hosted by Timothy Fitz (<a href="http://twitter.com/timothyfitz">@timothyfitz</a>) and Jeff Lindsay (<a href="http://twitter.com/progrium">@progrium</a>). Every week a different topic is covered.
	</div>
	<div class="callout">
		<a class="imgwrap" href="http://mixlr.com/systemslive/"><img src="/images/mixlr.png"></a>
		Tune in LIVE on <a href="http://mixlr.com/systemslive/">mixlr.com/systemslive</a>.
	</div>
	<div class="callout">
		<a class="imgwrap" href="http://https://itunes.apple.com/us/podcast/systems-live/id884327140?mt=2"><img src="/images/podcast_icon.png"></a>
		Subscribe on <a href="http://https://itunes.apple.com/us/podcast/systems-live/id884327140?mt=2">iTunes</a>.
	</div>
</div>



{% for post in site.posts %}
  <div class="post {% if forloop.first %}first{% endif %}">
    <h2 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    <span class="description">
    	{{ post.content }}
    </span>
  </div>
{% endfor %}
